


<footer class="fflex ">
    <h6 class="fcss ">  type and click + to add item </h6>
    <h5 class="fcss"> ToDoList by Ashok </h5>
    <h6 class="fcss"> click circle and then click + to delete item </h6>
</footer>

<script  type="module" src="/run.js"></script>
</body>
</html>